*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Open Sans;
    font-size: 20px;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}

.main{
    
}

.begining{
    display: flex;
    
    justify-content: space-between;
    gap: 139px;
}
.color-wrapper{
    background: #0A2640;
}
.begining_right{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.begining_left{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.begining_text{
    color: #FFF;
    font-family: Manrope;
    
}
.begining_text-item{
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
}
.begining_text-small-item{
    color: var(--light-grey, #F1F1F1);

    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.begining_bth{
    display: flex;

    gap: 24px;
}
.begining_logotips{
    display: flex;
    gap: 55px;
    margin-top: 56px;
    padding: 0 5px;
}
.logo-items{
    display: flex;
    gap: 10px;
}
.our-servies{
    background-color: white;
}
.our-servies{
    margin-top: 82px;
}
.mini-span{
    padding-top: 82px;
    color: var(--gray, #777);
    display: flex;
    justify-content: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
h2{
    color: #000;
    text-align: center;
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
}
.our-servies-wrap{

}

.ad-servies-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 56px;
}
.ad-servies{
    display: flex;
    gap: 150px;
    margin-top: 185px;

}
.ad-servies-img{
    padding-left: 50px;
}

.ad-servies_item1{
    color: #000;

    /* Headings/Text XL */
    font-family: Manrope;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
}
.ad-servies-right_item2{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.ad-servies-right_check{
    border-radius: 100%;
    background: var(--dark-blue, #0A2640);
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ad-servies-right-check-item{
    display: flex;
    align-items: center;
    gap: 33px;
}
.ad-statistics{
    position: absolute;
    background-color: white;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    left: 300px;
    top: 1920px;
}
.ad-servies2{
    display: flex;
    margin-top: 185px;
    gap: 156px;
}
.ad-servies2_item2-wrapper{
    border-radius: 4px;
    background: var(--dark-blue, #0A2640);
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.08);
    width: 500px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.ad-servies2_item2-span{
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 53px;

}
.ad-servies2_icon{
    padding-left: 22px;
}
.ad-servies2-left{
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.ad-servies2-item2{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.ad-servies2-left{
    display: flex;
    padding-top: 80px;
}
.ad-servies2-statistics{
    background-color: white;
    position: relative;
    bottom: 200px;
    z-index: 1;
    left: 50px;
    max-width: 291px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.12);

}
section{
    background: #0A2640;
    padding-bottom: 64px;
}
.main__about{
    background: #0A2640;
}
.main__about-text{
    padding-bottom: 166px;
}
.our-story__text{
    padding-left: 180px;
    padding-top: 122px;
    padding-bottom: 96px;
    padding-right: 220px;
}
.container-2{
    max-width: 842px;
    margin: 0 auto;
}
.our-numbers{
    background: #0A2640;
}
.our-numbers__text{
    padding-top: 96px;
}
.our-story__img{
    position: relative;
    bottom: 80px;
}
.our-numbers__stat{
    padding-top: 84px;
    padding-bottom: 96px;
}
.our-story__text-title{
    padding-top: 96px;
}
.our-team__img{
    padding-top: 52px;
    padding-bottom: 120px;
}
.our-values{
    background: #0A2640;
}
.our-values{
    padding-top: 72px;
    padding-bottom: 123px;
}

.our-values__img{
    padding-top: 72px;
}
.email-about{
    margin-top: 124px;
}