header{
    background-color: white;
}
.blog-avatar{
    border-radius: 100%;
}
.blog_img{
    padding-top: 60px;
}
.blog_img-tetx{
    padding-top: 60px;

}
.news{
    margin-top: 169px;
    padding: 0 150px;
}